.AlertsList {
    position: fixed;
    right: 45px;
    top: 15px;
    width: 300px;
    z-index: 9999;
    &__Item {
        margin-bottom: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        width: 300px;
        &__Remove {
            transform: translateX(3200px, 2s);
        }
    }
}