.MenuItem {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px  !important;
    transition: 0.1s;
    position: relative;
    p{
        position: relative;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: 0.1s;
        .MenuItem__After {
            width: 100%;
            height: 100%;
            transition: 0.2s;
            border-radius: 0;
            left: 0;
            bottom: 0
        }
    }
    

}
.MenuItem__After {
    position: absolute;
    width: 0%;
    height: 0;
    transition: 0.2s;
    background: #b2ff3e;
    bottom: -50%;
    left: 50%;
    content: '';
    border-radius: 50%;
    z-index: 0;
}
