.Header{
    &__Menu{
        a {
            color: #000;
            text-decoration: none;
            padding: 5px 0px;
            margin: 0 10px;
        }
    }
    &__MenuItem {
        border-bottom: solid 2px #b2ff3e;
    }
}