.ProductItem{
    
    &__Img {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;;
            
        }
    }
}
.RecieptItemBig{
    &__Img {
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;;
            
        }
    }
}
.RecieptNavigation {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 10px;
        border-bottom: solid 1px #eee;
        cursor: pointer;
        position: relative;
        opacity: 0.6;
        &::after {
            height: 0;
            transition: 0.3s;
            content: '';

        }
        &:hover {
           &::after {
            position: absolute;
            width: 2px;
            height: 100% !important;

            background: #b1b1b1 ;
            content: '';
            z-index: 1;
            right: 0;
            top: 0;
           }
        }
    }
}
.activeTab {
    opacity: 1 !important;
    position: relative;
    &:after {
        position: absolute;
        width: 2px;
        height: 100% !important;
        transition: 0.3s;
        background: #adff2f !important;
        content: '';
        z-index: 1;
        right: 0;
        top: 0;
    }
}