.HelloModal {
    width: 400px;
    height: auto;
    max-height: 650px;
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    img {
        width: 250px;
        margin-top: 30px;
    }
}
