.InterfaceInstructionItem {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 14;
        width: 10;
        height: 10;
        // transform: translateY(-50%) rotate(45deg);
        z-index: 1;
        background: red;
      }
}

